body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--yellow-theme-background-color);
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;
}
:root{
  --yellow-theme-background-color : #1d1d1d;
  /* --yellow-theme-main-color: #ffdd40; */
  --yellow-theme-main-color: #bc9cf8a6;
  --yellow-theme-sub-text-color: #fff;
  --yellow-theme-nav-background-color: #181818;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
  height: 100%;
}